extends ../layout

block content

    h3 Project details

    div(class="col-lg-6")
        div(class="well bs-component")
            form(name='form', class='form-horizontal', method='post', action='/projects/create', enctype='multipart/form-data')

                fieldset

                    div(class="form-group")
                        label(for='Name', class="col-lg-2 control-label") Name

                    div(class="col-lg-10")
                        input(type='text', class="form-control", id='name', name='name', placeholder="Project Name")

                    div(class="modal-footer")
                        input(type='submit', class="btn btn-primary", value='Create Project')
