extends ../layout

block content

    div(class="row")
        div(class="well bs-component")
            form(name='form', class='form-horizontal', method='post', action='/projects/create', enctype='multipart/form-data')
                legend Create Project
                fieldset
                    div(class="form-group")
                        label(for='Name', class="col-lg-2 control-label") Name
                        div(class="col-lg-10")
                            input(type='text', class="form-control", id='name', name='name', placeholder="Project Name")
                    div(class="checkbox")
                        div(class="form-group")
                        div(class="col-lg-10 col-lg-offset-2")
                            button(class="btn btn-primary") Create Project